@charset "UTF-8";

/* 
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(38, 30, 45);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(85, 26, 139);
}

#principal {
    color: green;
    font-size: 2.5em;
    text-align: center;
    color: white;
}

h2 {
    color: rgb(109, 34, 179);
}

.basico {
    color: lightblue;
}

.intermediario {
    color: lightgreen;
}

.avancado {
    color: lightcoral;
}

p {
    color: white;
    font-size: 1.2em;
}

.destaque {
    background-color: rgba(187, 187, 32, 0.634);
    font-weight: bold;
}